/* 전체 컨테이너 스타일 */
.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: auto;
    background-color: #222;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 32px;
}

/* 각 시간 섹션 스타일 */
.time-section {
    width: calc(400px / 3); /* 각 섹션 너비 */
    height: 200px; /* 고정 높이 */
    overflow-y: scroll; /* 수직 스크롤 활성화 */
}

.time-list {
    list-style-type: none;
    padding: 0;
}

.time-list li {
    text-align: center;
    height: calc(200px / 3); /* 각 항목 높이 */
}

/* 배경 스타일 */
.background {
}